rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    // users collection
    match /users/{userId} {
      allow read: if isCoastGuard() || isOwnDocument(userId);
      allow create: if isCoastGuard();
      allow update: if request.auth != null && request.resource.data.username == resource.data.username;
      allow delete: if isCoastGuard();
    }

    function isCoastGuard() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'coast-guard';
    }

    function isOwnDocument(userId) {
      return request.auth != null && request.auth.uid == userId;
    }

    // trackings collection
  match /trackings/{trackingId} {
      allow read, create: if request.auth != null;
      allow update: if isTrackingOwner() || isCoastGuard();
      allow delete: if isCoastGuard();
    }

    function isTrackingOwner() {
      return request.auth != null && resource.data.uid == request.auth.uid;
    }
  }
}
