@let trackingData = trackingSig(); @if (trackingData !== null) {
<div class="card shadow-sm">
  <div class="card-header bg-primary text-white">
    <h5 class="mb-0">User Information</h5>
  </div>
  <div class="card-body">
    <div class="row mb-3">
      <div class="col-md-6">
        <p><strong>UID:</strong> G6RzdiNj9yIjLXUIOrWDVLGIJJyA</p>
        <p><strong>Username:</strong> user1</p>
        <p><strong>tracck count:</strong>{{ trackingData.tracks.length }}</p>
        <p><strong>Duration:</strong> {{ durationMinutes }} minutes</p>
      </div>
      <div class="col-md-6">
        <p>
          <strong>Created At:</strong>
          <span>2025-01-02 10:47:03</span>
        </p>
        <p>
          <strong>Updated At:</strong>
          <span>2025-01-02 10:51:17</span>
        </p>
      </div>
    </div>
    <p>
      <strong>Status:</strong>
      <span class="badge bg-secondary">Not Ongoing</span>
    </p>
  </div>
</div>
}

<app-map #appMap></app-map>
