@let trackingsData = trackingsSignal();

<div class="container mt-4">
  <h2>Trackings</h2>

  <!-- Optional: Add a sorting button -->
  <div class="d-flex justify-content-between mb-3">
    <p class="text-muted">
      Displaying {{ trackingsData.length }} tracking records.
    </p>
  </div>

  <table class="table table-hover table-striped">
    <thead class="table-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Id</th>
        <th scope="col">Uid</th>
        <th scope="col">Username</th>
        <th scope="col">Track Points</th>
        <th scope="col">Created At</th>
        <th scope="col">Updated At</th>
      </tr>
    </thead>
    <tbody>
      @if (isLoaded()) { @for (tracking of trackingsData | paginate: {
      itemsPerPage, currentPage }; track $index) {

      <tr>
        <th scope="row">{{ $index + 1 }}</th>
        <td>{{ tracking.id }}</td>
        <td>{{ tracking.uid }}</td>
        <td>{{ tracking.username }}</td>
        <td>{{ tracking.tracks.length }}</td>
        <td>{{ tracking.createdAt.toDate() | date : "medium" }}</td>
        <td>{{ tracking.updatedAt.toDate() | date : "medium" }}</td>
      </tr>
      } @empty {
      <tr>
        <td colspan="7" class="text-center">
          <div class="alert alert-warning fs-3" role="alert">
            No user records.
          </div>
        </td>
      </tr>
      } } @else {
      <tr>
        <td colspan="7" class="text-center">
          <div
            class="spinner-border text-primary"
            style="width: 3rem; height: 3rem"
            role="status"
          >
            <span class="visually-hidden">Loading...</span>
          </div>
        </td>
      </tr>
      }
    </tbody>
  </table>

  <div class="pagination-container d-flex justify-content-end">
    <pagination-controls
      (pageChange)="itemsPerPage = $event"
    ></pagination-controls>
  </div>
</div>
