@let alertData = alertSig();

<div class="container mt-4">
  <h1 class="h4 mb-4">Alert Details</h1>

  @if (alertData) {
  <div class="card p-3 shadow-sm">
    <h2 class="h6 mb-3">Alert Information</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>UID:</strong> {{ alertData.uid }}</li>
      <li class="list-group-item">
        <strong>Username:</strong> {{ alertData.username }}
      </li>
      <li class="list-group-item">
        <strong>Adventure ID:</strong> {{ alertData.trackingId }}
      </li>
      <li class="list-group-item">
        <strong>GeoPoint:</strong> Latitude: {{ alertData.geoPoint.latitude }},
        Longitude: {{ alertData.geoPoint.longitude }}
      </li>
      <li class="list-group-item">
        <strong>Resolved:</strong> {{ alertData.isResolved ? "Yes" : "No" }}
      </li>
      <li class="list-group-item">
        <strong>Created At:</strong>
        {{ alertData.createdAt.seconds | date : "medium" }}
      </li>
      <li class="list-group-item">
        <strong>Updated At:</strong>
        {{ alertData.updatedAt.seconds | date : "medium" }}
      </li>
      <li class="list-group-item"><strong>ID:</strong> {{ alertData.id }}</li>
    </ul>
  </div>
  } @else {
  <div class="card p-3 shadow-sm">
    <h2 class="h6 mb-3">Loading Alert Details...</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-75"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-50"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-60"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-80"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-40"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-70"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-60"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-90"></span>
      </li>
    </ul>
  </div>
  }
</div>
<!-- TODO: add a map for displaying the location -->
