@let alertData = alertSig();

<div class="container mt-4">
  <h1 class="h4 mb-4">Alert Details</h1>

  @if (alertData) {
  <div class="card p-3 shadow-sm">
    <h2 class="h6 mb-3">Alert Information</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><strong>UID:</strong> {{ alertData.uid }}</li>
      <li class="list-group-item">
        <strong>Username:</strong> {{ alertData.username }}
      </li>
      <li class="list-group-item">
        <strong>Adventure ID:</strong> {{ alertData.trackingId }}
      </li>
      <li class="list-group-item">
        <strong>GeoPoint:</strong> Latitude: {{ alertData.geoPoint.latitude }},
        Longitude: {{ alertData.geoPoint.longitude }}
      </li>
      <li class="list-group-item">
        <strong>Resolved:</strong> {{ alertData.isResolved ? "Yes" : "No" }}
      </li>
      <li class="list-group-item">
        <strong>Created At:</strong>
        {{ alertData.createdAt.seconds | date : "medium" }}
      </li>
      <li class="list-group-item">
        <strong>Updated At:</strong>
        {{ alertData.updatedAt.seconds | date : "medium" }}
      </li>
      <li class="list-group-item"><strong>ID:</strong> {{ alertData.id }}</li>
    </ul>
  </div>
  } @else {
  <div class="card p-3 shadow-sm">
    <h2 class="h6 mb-3">Loading Alert Details...</h2>
    <ul class="list-group list-group-flush">
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-75"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-50"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-60"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-80"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-40"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-70"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-60"></span>
      </li>
      <li class="list-group-item placeholder-glow">
        <span class="placeholder w-90"></span>
      </li>
    </ul>
  </div>
  }

  <div class="my-2">
    @if (alertData && alertData.isResolved) { @if (alertData.report) {
    <app-reports-details [reportSig]="alertData.report"></app-reports-details>

    } @else { @if (isCreateReport()) {
    <a class="btn btn-warning" (click)="isCreateReport.set(false)"
      >Cancel Report</a
    >
    } @else {
    <button class="btn btn-success" (click)="isCreateReport.set(true)">
      Create Report
    </button>
    } @if (isCreateReport()) {
    <div class="mt-3">
      <div class="container">
        <h2 class="mb-4">Create Report</h2>
        <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
          <!-- Description -->
          <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea
              formControlName="description"
              class="form-control"
              id="description"
              rows="3"
              placeholder="Enter description of the incident"
              required
            ></textarea>
            @let description = formGroup.controls.description; @if
            (description.invalid && (description.touched || description.dirty))
            {
            <div class="text-danger mt-1">
              @if (description.hasError('required')) {
              <small> Description is required. </small>
              }
            </div>

            }
          </div>

          <!-- Who -->
          <div class="mb-3">
            <label for="who" class="form-label">Who</label>
            <input
              type="text"
              formControlName="who"
              class="form-control"
              id="who"
              placeholder="Who is involved?"
              required
            />
          </div>

          <!-- What -->
          <div class="mb-3">
            <label for="what" class="form-label">What</label>
            <input
              type="text"
              formControlName="what"
              class="form-control"
              id="what"
              placeholder="What happened?"
              required
            />
          </div>

          <!-- Where -->
          <div class="mb-3">
            <label for="where" class="form-label">Where</label>
            <input
              type="text"
              formControlName="where"
              class="form-control"
              id="where"
              placeholder="Where did it happen?"
              required
            />
          </div>

          <!-- When -->
          <div class="mb-3">
            <label for="when" class="form-label">When</label>
            <input
              type="datetime-local"
              formControlName="when"
              class="form-control"
              id="when"
              placeholder="When did it happen?"
              required
            />
          </div>

          <!-- How -->
          <div class="mb-3">
            <label for="how" class="form-label">How</label>
            <textarea
              formControlName="how"
              class="form-control"
              id="how"
              rows="3"
              placeholder="How did it happen?"
              required
            ></textarea>
          </div>

          <!-- Submit Button -->
          <button type="submit" class="btn btn-primary btn-lg d-block ms-auto">
            Submit
          </button>
        </form>
      </div>
    </div>
    } } }
  </div>

  <div class="my-4">
    <app-map #appMap></app-map>
  </div>
</div>
