<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top shadow-sm">
  <div class="container">
    <a class="navbar-brand fs-3 d-flex align-items-center gap-1" href="#home">
      <img
        src="logos/seawatch-removebg.png"
        alt="Seawatch Logo"
        height="40px"
      />
      <span> Seawatch </span>
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a
            routerLink="home"
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
          >
            Home
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="dashboard"
            class="nav-link"
            routerLinkActive="active"
            aria-current="page"
          >
            Dashboard
          </a>
        </li>
        <li>
          <a routerLink="trackings" routerLinkActive="active" class="nav-link">
            Trackings
          </a>
        </li>
        <li>
          <a routerLink="alerts" routerLinkActive="active" class="nav-link">
            Alerts
          </a>
        </li>

        <li>
          <a routerLink="reports" routerLinkActive="active" class="nav-link">
            Reports
          </a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Users
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" routerLink="users/create">Register</a>
            </li>
            <li><a class="dropdown-item" routerLink="users">List</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item ms-4">
          <button class="btn btn-danger w-100 mt-auto" (click)="logout()">
            Logout
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
