<nav class="sidebar d-flex flex-column p-3">
  <a
    href="/"
    class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none"
  >
    <img
      src="logos/seawatch-removebg.png"
      alt="Logo"
      class="me-2"
      style="width: 40px"
    />
    <span class="fs-4">Seawatch</span>
  </a>
  <hr />
  <ul class="nav nav-pills flex-column mb-auto">
    <li class="nav-item">
      <a routerLink="dashboard" class="nav-link active" aria-current="page">
        <i class="bi bi-house-door me-2"></i> Dashboard
      </a>
    </li>
    <li>
      <a href="#" class="nav-link"> <i class="bi bi-boat me-2"></i> Boats </a>
    </li>
    <li>
      <a href="#" class="nav-link"> <i class="bi bi-geo me-2"></i> Tracking </a>
    </li>
    <li>
      <a href="#" class="nav-link"> <i class="bi bi-bell me-2"></i> Alerts </a>
    </li>
    <li>
      <a href="#" class="nav-link">
        <i class="bi bi-person me-2"></i> Profile
      </a>
    </li>
  </ul>
  <hr />
  <div>
    <button class="btn btn-danger w-100 mt-auto" (click)="logout()">
      <i class="bi bi-box-arrow-right me-2"></i> Logout
    </button>
  </div>
</nav>
