<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="welcome-card p-5 text-center">
    <img
      src="logos/seawatch-removebg.png"
      alt="Seawatch Logo"
      class="w-50 mb-4 mx-auto d-block"
    />
    <h1 class="display-4">Welcome to Seawatch</h1>
    <p class="lead text-muted mb-4">
      Your trusted partner in maritime monitoring and safety.
    </p>
    <div class="d-grid gap-2 col-6 mx-auto">
      @if (!user.role) {
      <a routerLink="/auth/login" class="btn btn-outline-primary btn-lg">
        Login
      </a>
      } @else if (user.role === 'coast-guard') {
      <a routerLink="/coast-guard" class="btn btn-primary btn-lg">Home</a>
      }
    </div>
  </div>
</div>
